// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$acquisition-icon-name: 'acquisition-icon';
$acquisition-icon-x: 119px;
$acquisition-icon-y: 119px;
$acquisition-icon-offset-x: -119px;
$acquisition-icon-offset-y: -119px;
$acquisition-icon-width: 116px;
$acquisition-icon-height: 117px;
$acquisition-icon-total-width: 252px;
$acquisition-icon-total-height: 236px;
$acquisition-icon-image: '../images/sprite.png';
$acquisition-icon: (119px, 119px, -119px, -119px, 116px, 117px, 252px, 236px, '../images/sprite.png', 'acquisition-icon', );
$arrow-red-name: 'arrow-red';
$arrow-red-x: 242px;
$arrow-red-y: 0px;
$arrow-red-offset-x: -242px;
$arrow-red-offset-y: 0px;
$arrow-red-width: 10px;
$arrow-red-height: 6px;
$arrow-red-total-width: 252px;
$arrow-red-total-height: 236px;
$arrow-red-image: '../images/sprite.png';
$arrow-red: (242px, 0px, -242px, 0px, 10px, 6px, 252px, 236px, '../images/sprite.png', 'arrow-red', );
$arrow-white-name: 'arrow-white';
$arrow-white-x: 242px;
$arrow-white-y: 8px;
$arrow-white-offset-x: -242px;
$arrow-white-offset-y: -8px;
$arrow-white-width: 10px;
$arrow-white-height: 6px;
$arrow-white-total-width: 252px;
$arrow-white-total-height: 236px;
$arrow-white-image: '../images/sprite.png';
$arrow-white: (242px, 8px, -242px, -8px, 10px, 6px, 252px, 236px, '../images/sprite.png', 'arrow-white', );
$arrow-name: 'arrow';
$arrow-x: 242px;
$arrow-y: 16px;
$arrow-offset-x: -242px;
$arrow-offset-y: -16px;
$arrow-width: 10px;
$arrow-height: 6px;
$arrow-total-width: 252px;
$arrow-total-height: 236px;
$arrow-image: '../images/sprite.png';
$arrow: (242px, 16px, -242px, -16px, 10px, 6px, 252px, 236px, '../images/sprite.png', 'arrow', );
$cultivation-icon-name: 'cultivation-icon';
$cultivation-icon-x: 123px;
$cultivation-icon-y: 0px;
$cultivation-icon-offset-x: -123px;
$cultivation-icon-offset-y: 0px;
$cultivation-icon-width: 117px;
$cultivation-icon-height: 117px;
$cultivation-icon-total-width: 252px;
$cultivation-icon-total-height: 236px;
$cultivation-icon-image: '../images/sprite.png';
$cultivation-icon: (123px, 0px, -123px, 0px, 117px, 117px, 252px, 236px, '../images/sprite.png', 'cultivation-icon', );
$marketing-hub-icon-name: 'marketing-hub-icon';
$marketing-hub-icon-x: 0px;
$marketing-hub-icon-y: 0px;
$marketing-hub-icon-offset-x: 0px;
$marketing-hub-icon-offset-y: 0px;
$marketing-hub-icon-width: 121px;
$marketing-hub-icon-height: 117px;
$marketing-hub-icon-total-width: 252px;
$marketing-hub-icon-total-height: 236px;
$marketing-hub-icon-image: '../images/sprite.png';
$marketing-hub-icon: (0px, 0px, 0px, 0px, 121px, 117px, 252px, 236px, '../images/sprite.png', 'marketing-hub-icon', );
$sustainer-programs-icon-name: 'sustainer-programs-icon';
$sustainer-programs-icon-x: 0px;
$sustainer-programs-icon-y: 119px;
$sustainer-programs-icon-offset-x: 0px;
$sustainer-programs-icon-offset-y: -119px;
$sustainer-programs-icon-width: 117px;
$sustainer-programs-icon-height: 117px;
$sustainer-programs-icon-total-width: 252px;
$sustainer-programs-icon-total-height: 236px;
$sustainer-programs-icon-image: '../images/sprite.png';
$sustainer-programs-icon: (0px, 119px, 0px, -119px, 117px, 117px, 252px, 236px, '../images/sprite.png', 'sustainer-programs-icon', );
$spritesheet-width: 252px;
$spritesheet-height: 236px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($acquisition-icon, $arrow-red, $arrow-white, $arrow, $cultivation-icon, $marketing-hub-icon, $sustainer-programs-icon, );
$spritesheet: (252px, 236px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
