@import 'normalize';
@import 'font-awesome/font-awesome';
@import 'owlcarousel/owl.carousel';
@import 'owlcarousel/owl.theme.default';
@import 'jquery.formstyler';
@import 'jquery.formstyler.theme';
@import 'jquery-ui';
@import 'sprites';

/*----------variables----------*/

$darkest-gray: #3d3d3d;
$dark-gray: #404040;
$green: #80a22f;
$bright-green: #b1e634;
$red: #d2232a;

$base-color: $green;
$text-color: $dark-gray;
$link-color: $green;

$font-family-base: 'Raleway', sans-serif;
$font-family-second: 'Droid Serif', serif;

/*----------grid----------*/
.row {
    margin-right: -10px;
    margin-left: -10px;
    @extend %clearfix;
}

[class^="col"] {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}
    
$cols: 12;
$row-width: 100%;
$breakpoints: (
    xxs: 380px,
    xs: 480px,
    sm: 769px,
    md: 1024px,
    lg: 1170px,
    xlg: 1400px
);

$breakpoints-list: (
    xxs,
    xs,
    sm,
    md,
    lg,
    xlg
);

@each $key, $value in $breakpoints {
    $i: index($breakpoints-list, $key);
    @if $i == 1 {
        @for $j from 1 through $cols {
            .col-#{$key}-#{$j} {
                width: ($row-width / 12) * $j;
                float: left;
                min-height: 1px;
            }
        }
    } @else {
        @media (min-width: #{$value}){
            @for $j from 1 through $cols {
                .col-#{$key}-#{$j} {
                    width: ($row-width / 12) * $j;
                    float: left;
                    min-height: 1px;
                }
            }
        }
    }
}

@each $key, $value in $breakpoints {
    $i: index($breakpoints-list, $key);
    @if $i == 1 {
        @for $j from 1 through $cols {
            .col-#{$key}-offset-#{$j} {
                margin-left: ($row-width / 12) * $j;
            }
        }
    } @else {
        @media (min-width: #{$value}){
            @for $j from 1 through $cols {
                .col-#{$key}-offset-#{$j} {
                    margin-left: ($row-width / 12) * $j;
                }
            }
        }
    }
}

/*----------grid-ends----------*/

/*----------mixins----------*/
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
    }
}

@mixin retina {
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            @content;
    }
}
/*----------mixins-ends----------*/

/*----------helpers----------*/
%clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

%base-font{
    color: $text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    font-family: $font-family-base;
    @include respond-to (xs) {
        font-size: 14px;
        line-height: 24px;
    }
}

/*----------helpers-ends----------*/

/*----------components----------*/
.btn {
    display: inline-block;
    min-width: 170px;
    padding: 8px 20px 9px;
    color: $base-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border: 2px solid $base-color;
    border-radius: 10px 10px 0 10px;
    &:hover {
        color: #fff;
        background: $base-color;
    }
}

.btn-primary {
    color: #fff;
    border-color: #fff;
    &:hover {
        color: $darkest-gray;
        background: #fff;
    }
}

.btn-big {
    min-width: 188px;
    padding: 10px 26px;
    font-size: 20px;
    line-height: 26px;
}

.owl-carousel {
    .ttl {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 37px;
        line-height: 43px;
        @include respond-to (sm) {
            font-size: 30px;
            line-height: 36px
        }
        @include respond-to (sm) {
            font-size: 26px;
            line-height: 30px
        }
    }
    p {
        margin-bottom: 10px;
    }
}

.owl-theme {
    .owl-nav {
        margin: 0;
        [class*='owl-'] {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            font-size: 30px;
            margin: -64px 0 0;
            background: $red;
            &:hover {
                background: $red;
            }
        }
        .owl-prev {
            left: -62px;
            border-radius: 10px 10px 10px 0;
            @include respond-to (md) {
                left: -48px;
            }
        }
        .owl-next {
            right: -62px;
            border-radius: 10px 10px 0;
            @include respond-to (md) {
                right: -48px;
            }
        }
    }
}

.slider-block {
    padding: 0 16.66667%;
    @include respond-to (md) {
        padding: 0 42px;
    }
    .date {
        margin-bottom: 0;
        font-size: 14px;
    }
}

.jq-selectbox {
    width: 100%;
    display: block;
    &:hover {
        .jq-selectbox__trigger-arrow {
            border-top-color: #aaa;
        }
    }
    &.focused .jq-selectbox__select {
        border: 1px solid $red;
    }
    li {
        &:hover {
            background: $red;
        }
    }
}

.jq-selectbox__select {
    height: 40px;
    padding: 8px 30px 7px 18px;
    color: $red;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-shadow: none;
    border-radius: 10px 10px 0;
    background: linear-gradient(#fff, #ebebeb);
    box-shadow: none;
    &:hover,
    &:active {
        background: linear-gradient(#fff, #ebebeb);
        box-shadow: none;
    }
}

.jq-selectbox__trigger {
    border: none;
}

.jq-selectbox__trigger-arrow {
    top: 16px;
    right: 10px;
    border-width: 7px;
    border-top-color: #aaa;
}

/*----------components-ends----------*/

/*----------base----------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea{outline:none;}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

a {
    color: $link-color;
    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0 0 26px;
    padding: 0;
    @include respond-to (sm) {
        margin-bottom: 20px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

html,
body {
    @extend %base-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: $base-color;
    font-family: $font-family-second;
    a {
        color: $base-color;
        text-decoration: none;
    }
}

h1,
.h1 {
    margin-bottom: 36px;
    font-size: 68px;
    line-height: 68px;
    @include respond-to (md) {
        font-size: 60px;
        line-height: 60px;
    }
    @include respond-to (sm) {
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 50px;
    }
    @include respond-to (xs) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2,
.h2 {
    margin-bottom: 34px;
    font-size: 62px;
    line-height: 62px;
    @include respond-to (md) {
        font-size: 56px;
        line-height: 56px;
    }
    @include respond-to (sm) {
        margin-bottom: 28px;
        font-size: 46px;
        line-height: 46px;
    }
    @include respond-to (xs) {
        font-size: 36px;
        line-height: 36px;
    }
}

h3,
.h3 {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 48px;
    @include respond-to (md) {
        font-size: 36px;
        line-height: 40px;
    }
    @include respond-to (sm) {
        margin-bottom: 26px;
        font-size: 30px;
        line-height: 34px;
    }
    @include respond-to (xs) {
        font-size: 26px;
        line-height: 28px;
    }
}

h4,
.h4 {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    @include respond-to (md) {
        font-size: 28px;
        line-height: 30px;
    }
    @include respond-to (sm) {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 26px;
    }
}

h5,
.h5 {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 36px;
    @include respond-to (md) {
        font-size: 22px;
        line-height: 24px;
    }
    @include respond-to (sm) {
        margin-bottom: 22px;
        font-size: 20px;
        line-height: 22px;
    }
}

/*----------base-ends----------*/


/*----------Editor style----------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*--------------------*/

/*----------header----------*/
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #fff;
    border-bottom: 3px solid $red;
    box-shadow: 0 0 10px rgba(#000, 0.5);
    .logo {
        float: left;
        margin: 8px 24px 0 0;
        @include respond-to (md) {
            margin-right: 10px;
        }
        img {
            max-width: 212px;
        }
    }
    .logo-fixed-header {
        display: none;
        float: left;
        margin: 8px 20px 0 0;
    }
    .header-select {
        float: left;
        width: 180px;
        select {
            width: 180px;
        }
        @include respond-to (md) {
            float: none;
            margin: 10px;
        }
    }
}

.header-box {
    position: relative;
    z-index: 4;
    padding: 15px 0 17px;
    background: #fff;
    @extend %clearfix;
    @include respond-to (md) {
        margin: 0 -10px;
        padding: 15px 10px 17px;
    }
}

.fixed-header {
    border: none;
    -webkit-transition: all 1s;
    transition: all 1s;
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $red;
    }
    .header-box {
        padding: 26px 0;
    }
    .logo {
        display: none;
    }
    .logo-fixed-header {
        display: inline-block;
    }
    .header-fixed-box {
        position: relative;
        float: left;
        margin: -26px 0;
        padding: 26px 38px 26px 0;
        background: $red;
        @include respond-to (xlg) {
            padding-right: 24px;
        }
        &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(210, 35, 42, 0);
            border-left-color: $red;
            border-width: 46px 20px;
            margin-top: -46px;
        }
    }
    .jq-selectbox__select {
        padding: 7px 29px 6px 17px;
        color: $bright-green;
        border-width: 2px;
        border-color: $bright-green;
        background: #c22027;
        background: -webkit-linear-gradient(#d6343b, #c22027);
        background: -o-linear-gradient(#d6343b, #c22027);
        background: -moz-linear-gradient(#d6343b, #c22027);
        background: linear-gradient(#d6343b, #c22027);
    }
    .jq-selectbox {
        &.focused .jq-selectbox__select {
            border: 2px solid $bright-green;
        }
        &:hover {
            .jq-selectbox__trigger-arrow {
                border-top-color: $bright-green;
            }
        }
    }
    .jq-selectbox__trigger-arrow {
        border-top-color: $bright-green;
    }   
}

.navbar-collapse {
    @include respond-to (md) {
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        float: none;
        margin: 0;
        background: $red;
    }
}

.nav {
    float: right;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    @include respond-to (xlg) {
        font-size: 14px;
    }
    @include respond-to (md) {
        float: none;
    }
    li {
        position: relative;
        float: left;
        margin-left: 22px;
        @include respond-to (xlg) {
            margin-left: 16px;
        }
        @include respond-to (md) {
            float: none;
            margin: 0;
        }
        &:hover {
            >a {
                color: $red;
                @include respond-to (md) {
                    color: $red;
                    background: #fff;
                }
            }
            .subnav {
                display: block;
            }
        }
        a {
            color: $darkest-gray;
            text-decoration: none;
            &:hover {
                color: $red;
                @include respond-to (md) {
                    color: $red;
                    background: #fff;
                }
            }
            @include respond-to (md) {
                display: block;
                padding: 6px 10px;
                color: #fff;
            }
        }
        &.active {
            >a {
                color: $red;
                @include respond-to (md) {
                    color: $red;
                    background: #fff;
                }
            }
        }
        &:last-child {
            .subnav {
                left: auto;
                right: 0;
                -ms-transform: translateX(0);
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    .subnav {
        display: none;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 200px;
        margin: 0;
        padding: 26px 0 0;
        list-style: none;
        font-size: 14px;
        @include respond-to (md) {
            display: block;
            position: static;
            width: auto;
            padding: 0 0 0 20px;
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        li {
            width: 100%;
            margin: 0;
            background: #fff;
            @include respond-to (md) {
                background: none;
            }
            a {
                display: block;
                padding: 5px 10px;
                &:hover {
                    color: #fff;
                    background: $red;
                    @include respond-to (md) {
                        color: $red;
                        background: #fff;
                    }
                }
            }
            &.active {
                a {
                    color: #fff;
                    background: $red;
                }
            }
        }

    }
    .arrow {
        display: inline-block;
        margin-left: 3px;
        vertical-align: middle;
        cursor: pointer;
        @include sprite($arrow);
        @include respond-to (md) {
            display: none;
            position: absolute;
            top: 4px;
            right: 10px;
            width: 32px;
            height: 30px;
            text-align: center;
            background: #fff;
            border-radius: 3px;
            &:hover {
                background: $red;
                &:before {
                    @include sprite($arrow-white);
                }
            }
            &:before {
                content: '';
                display: inline-block;
                @include sprite($arrow-red);
            }
        }
    }
}

.collapse {
    @include respond-to (md) {
        display: none;
    }
}

#menu-toggle {
    display: none;
    float: right;
    width: 53px;
    height: 43px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    background: $red;
    border-radius: 2px;
    transition: .25s ease-in-out;
    &:hover {
        background: $red;
    }
    @include respond-to (md) {
        display: block;
    }
    @include respond-to (xxs) {
        margin-left: 12px;
    }
    * {
        transition: .25s ease-in-out;
    }
    .menu-toggle-box {
        position: relative;
        width: 43px;
        height: 43px;
        margin: 0 auto;
    }
    span {
        display: block;
        background: #fff;
        border-radius: 2px;
    }
    #hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        span {
            width: 31px;
            height: 4px;
            position: relative;
            top: 6px;
            left: 6px;
            margin: 5px 0;
            &:nth-child(1) {
                transition-delay: .5s;
            }
            &:nth-child(2) {
                transition-delay: .625s;
            }
            &:nth-child(3) {
                transition-delay: .75s;
            }
        }
    }
    #cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        span {
            &:nth-child(1) {
                height: 0%;
                width: 4px;
                position: absolute;
                top: 10%;
                left: 20px;
                transition-delay: 0s;
            }
            &:nth-child(2) {
                width: 0%;
                height: 4px;
                position: absolute;
                left: 10%;
                top: 20px;
                transition-delay: .25s;
            }
        }
    }
}

#menu-toggle.open {
    #hamburger {
        span {
            width: 0%;
            &:nth-child(1) {
                transition-delay: 0s;
            }
            &:nth-child(2) {
                transition-delay: .125s;
            }
            &:nth-child(3) {
                transition-delay: .25s;
            }
        }
    }
    #cross {
        span {
            &:nth-child(1) {
                height: 80%;
                transition-delay: .625s;
            }
        }
        span {
            &:nth-child(2) {
                width: 80%;
                transition-delay: .375s;
            }
        }
    }
}

.container {
    width: 1140px;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @extend %clearfix;
}

.home-page {
    .main {
        padding: 0;
    }
}

.banner-home {
    padding: 24.65% 0 13.65%;
    padding: 18.4% 0 10.2%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .banner-content {
        width: 49%;
        border-left: 15px solid $bright-green;
        border-radius: 10px 10px 0;
        overflow: hidden;
        @include respond-to (sm) {
            width: 70%;
            border-width: 10px;
        }
    }
    .banner-content-top {
        padding: 21px 26px 12px 50px;
        background: rgba(#fff, 0.9);
        @include respond-to (sm) {
            padding: 20px 20px 10px;
        }
    }
    .banner-content-bot {
        padding: 16px 26px 22px 46px;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        background: rgba($red, 0.9);
        @include respond-to (sm) {
            padding: 16px 20px;
            font-size: 14px;
            line-height: 20px;
        }
        p{
            &:last-child,
            &:only-child {
                margin-bottom: 0;
            }
        }
    }
}

.menu-bar {
    background: $darkest-gray;
    .menu-bar-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-justify-content: center;
        justify-content: center;
        li {
            position: relative;
            float: left;
            width: 33.333333%;
            overflow: hidden;
            text-align: center;
            border-left: 1px solid #515151;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            @include respond-to (sm) {
                width: 100%;
                border: none;
                border-top: 1px solid #515151;
            }
            &:first-child {
                border: none;
                &:after {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
                @include respond-to (sm) {
                    display: none;
                }
            }
            a {
                display: block;
                width: 100%;
                padding: 19px 10px;
                text-decoration: none;
                @include respond-to (sm) {
                    padding: 16px 10px;
                }
            }
        }
    }
}

.content-block {
    padding: 100px 0;
    padding: 5% 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 6px solid $base-color;
    .h2 {
        margin-bottom: 42px;
        text-align: center;
        @include respond-to (sm) {
            margin-bottom: 28px;
        }
    }
    @include respond-to (md) {
        background: #fff !important;
    }
    @include respond-to (sm) {
        padding: 40px 0;
    }
}

.content-left {
    background-position: 100% 50%;
    @include respond-to (md) {
        background: #f0efeb !important;
    }
}

.news-block {
    padding: 30px 0;
    .h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    .branch-img {
        margin-bottom: 55px;
        text-align: center;
        @include respond-to(lg) {
            margin: 20px 0 40px;
        }
    }
    .btn {
        margin-left: 110px;
    }
    .row {
        [class^="col"] {
            padding: 0 20px;
            border-right: 1px solid #eaeaea;
            &:last-child {
                border: none;
            }
            @include respond-to(lg) {
                padding: 0 10px;
                border: none;
                border-bottom: 1px solid #eaeaea;
            }
        }
    }
    .news-prew {
        @extend %clearfix;
        @include respond-to(lg) {
            width: 50%;
            float: left;
            padding: 0 10px;
            margin-bottom: 10px;
        }
        @include respond-to(sm) {
            width: 100%;
        }
    }
    .news-thumb {
        float: left;
        width: 90px;
        height: 90px;
        margin-right: 20px;
        border-radius: 10px 10px 0;
        overflow: hidden;
    }
    .news-info {
        overflow: hidden;
        font-size: 13px;
        line-height: 20px;
    }
    .ttl {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        @include respond-to(sm) {
            font-size: 20px;
            line-height: 22px;
        }
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.news-prew-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    @extend %clearfix;
    @include respond-to(lg) {
        margin: 0 -10px;
    }
}

.news-block-inner {
    .container {
        position: relative;
    }
    .row {
        [class^="col"] {
            padding: 0 20px;
            border: none;
            @include respond-to(md) {
                padding: 0 10px;
            }
        }
    }
    .news-prew {
        @include respond-to(lg) {
            width: 100%;
            float: none;
            padding: 0;
            margin-bottom: 10px;
        }
    }
    .btn {
        margin: 0;
    }
    .more-btn {
        position: absolute;
        top: 0;
        right: 10px;
        @include respond-to(sm) {
            position: static;
        }
    }
}

.solutions-block {
    padding: 30px 0 14px;
    font-size: 20px;
    line-height: 26px;
    .h2 {
        text-align: center;
    }
}

.solutions-list {
    margin: 0;
    padding: 0 92px;
    list-style: none;
    overflow: hidden;
    text-align: center;
    @include respond-to (md) {
        padding: 0;
    }
    @include respond-to (sm) {
         display: -webkit-flex;
        display: flex;  
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    li {
        width: 25%;
        float: left;
        @include respond-to (sm) {
            width: 50%;
        }
    }
    .icon {
        margin-bottom: 4px;
        &:before {
            content: '';
            display: inline-block;
        }
    }
}

.solution-icon1 {
    &:before {
        @include sprite($marketing-hub-icon);
    }
}

.solution-icon2 {
    &:before {
        @include sprite($acquisition-icon);
    }
}

.solution-icon3 {
    &:before {
        @include sprite($sustainer-programs-icon);
    }
}

.solution-icon4 {
    &:before {
        @include sprite($cultivation-icon);
    }
}

/*----------Inner page ----------*/

.main {
    padding-top: 75px;
}
.banner {
    padding: 61px 0 74px;
    font-size: 18px;
    line-height: 26px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @include respond-to (md) {
        padding: 46px 0 26px;
        font-size: 16px;
        line-height: 22px;
    }
    @include respond-to (sm) {
        padding: 26px 0 20px;
        background: #f0efeb !important;
    }
    .banner-content {
        width: 46%;
        @include respond-to (md) {
            width: 60%;
        }
        @include respond-to (sm) {
            width: 100%;
        }
    }
    .branch-logo {
        margin-bottom: 14px;
    }
    .h1 {
        margin-bottom: 22px;
    }
    .banner-text {
        margin-bottom: 4px;
        @include respond-to (md) {
            margin-bottom: 10px;
        }
    }
    .banner-text-big {
        font-size: 26px;
        line-height: 33px;
        font-weight: 700;
        @include respond-to (md) {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.tabs-block {
    position: relative;
    padding: 60px 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @include respond-to (sm) {
        padding: 40px 0 20px;
        background: $green !important;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 50%;
        height: 100%;
        background: $green;
            @include respond-to (sm) {
                display: none;
            }
    }
    .container {
        position: relative;
        z-index: 4;
    }
    .col-left {
        float: left;
        width: 50%;
        padding-right: 45px;
        color: #fff;
        text-align: right;
        @include respond-to (sm) {
            float: none;
            width: 100%;
            padding: 0 0 10px;
            text-align: center;
        }
        .h2 {
            margin-bottom: 10px;
            color: #fff;
        }
    }
    .ui-tabs {
        float: left;
        padding: 0;
        background: none;
        border: none;
        @include respond-to (sm) {
            float: none;
        }
        .ui-tabs-nav {
            float: left;
            width: 50%;
            padding: 0 45px 0 0;
            line-height: 20px;
            background: none;
            border: none;
            @include respond-to (sm) {
                float: none;
                width: 100%;
                padding: 0;
            }
            li {
                float: none;
                margin: 0 0 4px;
                padding: 0;
                text-align: right;
                background: none;
                border: none;
                &:focus {
                    outline: none;
                }
                @include respond-to (sm) {
                    float: left;
                    text-align: center;
                }
                a {
                    padding: 10px 20px 10px 30px;
                    border-radius: 10px 10px 0;
                    &:focus {
                        outline: none;
                    }
                    @include respond-to (sm) {
                        padding: 8px 10px;
                    }
                }
                &.ui-tabs-active {
                    margin: 0 0 4px;
                    padding: 0;
                    a {
                        background: $red; 
                    }
                }
            }
            .ui-tabs-anchor {
                float: none;
                display: inline-block;
                font-size: 18px;
                font-weight: 700;
                @include respond-to (sm) {
                    font-size: 16px;
                }
            }
        }
        .ui-tabs-panel {
            position: relative;
            float: left;
            width: 50%;
            padding: 43px 66px 13px 70px;
            background: rgba(#fff, 0.9);
            @include respond-to (md) {
                padding: 26px 20px 20px 26px;
            }
            @include respond-to (sm) {
                float: none;
                width: 100%;
            }
            p {
                &:last-child {
                   margin-bottom: 0; 
                }
            }
            &:before {
                left: 0;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(128, 162, 47, 0);
                border-left-color: #80a22f;
                border-width: 42px 34px;
                margin-top: -42px;
                @include respond-to (md) {
                    border-width: 22px 14px;
                    margin-top: -22px;
                }
                @include respond-to (sm) {
                    display: none;
                }
            }
        }
        .ttl {
            margin-bottom: 7px;
            color: $red;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            @include respond-to (sm) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .ui-state-default a {
        color: #fff;
    }
}

.ui-widget {
    @extend %base-font;
    font-size: 18px;
    line-height: 28px;
    @include respond-to (md) {
        font-size: 16px;
        line-height: 24px;
    }
    @include respond-to (sm) {
        font-size: 14px;
        line-height: 22px;
    }
}

.main-content {
    padding: 60px 0 40px;
    font-weight: 300;
    @include respond-to (sm) {
        padding: 40px 0 20px;
    }
}

/*----------Footer----------*/
.footer {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    background: $darkest-gray;
    background: -webkit-linear-gradient(left, $red 50%, $darkest-gray 50%);
    background: -o-linear-gradient(right, $red 50%, $darkest-gray 50%);
    background: -moz-linear-gradient(right, $red 50%, $darkest-gray 50%);
    background: linear-gradient(to right, $red 50%, $darkest-gray 50%);
    @include respond-to(md) {
        background: $darkest-gray;
    }
    .contacts-block {
        padding-left: 109px;
        @include respond-to(md) {
            padding: 0 10px;
        }
    }
    .contacts-box {
        margin-bottom: 20px;
        p {
            margin-bottom: 0;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        .ttl {
            font-weight: 700;
        }
    }
    .copyright {
        font-size: 12px;
    }
}

.fooler-left-block {
    position: relative;
    padding-top: 34px;
    padding-bottom: 15px;
    background: $red;
    @include respond-to(md) {
        background: $darkest-gray;
    }
    &:after {
        content: '';
        position: absolute;
        top: -5px;
        right: -175px;
        width: 353px;
        height: 209px;
        z-index: 2;
        background: url(../images/tree.png) no-repeat;
        @include respond-to(md) {
            display: none;
        }
    }
}

.footer-right-block {
    padding-top: 34px;
    padding-bottom: 15px;
    background: $darkest-gray;
}

.footer-logo {
    margin-bottom: 6px;
    &:after {
        content: '';
        display: block;
        width: 160px;
        height: 4px;
        margin-top: 14px;
        background: #fff;
    }
}

.soc {
    margin: 9px 0 22px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-size: 28px;
    li {
        float: left;
        margin-right: 18px;
        a {
            color: #afafaf;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    li {
        a {
            color: $bright-green;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
